<div class="row p-4">
	<div class="col-xs-12">
		<button class="btn btn-success">New Recipe</button>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-xs-12">
		<div href="#" class="row">
			<h6 class="col-4">Recipe Name</h6>
			<span class="col-4">Description</span>
			<span class="col-4">Image</span>
		</div>
		<div href="#" class="border">
			<div class="row">
				<span class="col-4">Doraemon</span>
				<span class="col-4">Meo may</span>
				<span class="col-4"><img
					src="https://img3.thuthuatphanmem.vn/uploads/2019/10/10/anh-avatar-doremon_033145784.png" alt=""
					class="img-fluid  float-none" style="max-height: 50px;"
				></span>
			</div>
		
		</div>
	</div>
</div>